<dom-module id="awesome-panel">
	<template>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<template is="dom-if" if="{{awesome-title}}">
						<div class="panel-heading" id="awesome-title-[[encodeTitle(awesomeTitle)]]">
							<h3 class="panel-title"><a href="#awesome-title-[[encodeTitle(awesomeTitle)]]">[[awesome-title]]</a></h3>
						</div>
					</template>
					<div class="panel-body">
						<content></content>
					</div>
			    	<template is="dom-if" if="{{awesome-note}}">
			  			<div class="panel-footer">
			  				<div inner-h-t-m-l="{{awesome-note}}"></div>
		  				</div>
				  	</template>
				</div>
        	</div>
        </div>	
	</template>
	<script>
	Polymer({
		is: 'awesome-panel',
		encodeTitle: function (title) {
			return btoa(title);
		}
	})
	</script>
</dom-module>