<dom-module id="video-player">
	<template>
		<div class="row">
			<div class="col-md-12">
				<div class="thumbnail text-center">
					<h2 id="yid-[[yid]]">
						<a href="#yid-[[yid]]">
							<span class="badge pull-left">[[increment(index)]]</span>
						</a>
						<b>[[title]]</b>
					</h2>
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/[[yid]]?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
		        </div>
        	</div>
        </div>	
	</template>
	<script>
	Polymer({
		is: 'video-player',
		increment: function (i) {
			return ++i;
		}
	})
	</script>
</dom-module>